## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Date
0,0,Georgetown,MY,5.4112,100.3354,80.53,93,20,3.44,few clouds,2022-04-18 18:49:00
1,1,Jutai,BR,-5.1833,-68.9000,80.55,89,50,2.66,light rain,2022-04-18 18:49:01
2,2,Rio Gallegos,AR,-51.6226,-69.2181,51.42,57,100,20.54,overcast clouds,2022-04-18 18:49:01
3,3,Algiers,DZ,36.7525,3.0420,64.22,48,75,6.91,broken clouds,2022-04-18 18:44:03
4,4,Port Alfred,ZA,-33.5906,26.8910,60.19,95,46,2.28,scattered clouds,2022-04-18 18:40:51

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your vacation? "))
max_temp = float(input("What is the maximum temperature you would like for your vacation? "))

What is the minimum temperature you would like for your vacation? 70
What is the maximum temperature you would like for your vacation? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]

In [5]:
# 4a. Determine if there are any empty rows.
cities_df.isnull().sum()

City_ID                0
City                   0
Country                5
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
Date                   0
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesnâ€™t have empty rows.
clean_df = cities_df.dropna()
clean_df.count()

City_ID                316
City                   316
Country                316
Lat                    316
Lng                    316
Max Temp               316
Humidity               316
Cloudiness             316
Wind Speed             316
Current Description    316
Date                   316
dtype: int64

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Georgetown,MY,80.53,few clouds,5.4112,100.3354,
1,Jutai,BR,80.55,light rain,-5.1833,-68.9000,
8,Bambous Virieux,MU,79.21,scattered clouds,-20.3428,57.7575,
9,Hobyo,SO,83.77,scattered clouds,5.3505,48.5268,
11,Bandarbeyla,SO,82.06,clear sky,9.4942,50.8122,
12,Kampene,CD,70.66,light rain,-3.6000,26.6667,
14,Vila Velha,BR,80.55,few clouds,-20.3297,-40.2925,
21,Kudahuvadhoo,MV,83.62,overcast clouds,2.6708,72.8944,
22,Hithadhoo,MV,83.46,overcast clouds,-0.6000,73.0833,
23,Jizan,SA,86.94,clear sky,17.3333,42.6667,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try: 
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found, skipping to next city.")

Hotel not found, skipping to next city.
Hotel not found, skipping to next city.
Hotel not found, skipping to next city.
Hotel not found, skipping to next city.
Hotel not found, skipping to next city.
Hotel not found, skipping to next city.
Hotel not found, skipping to next city.
Hotel not found, skipping to next city.
Hotel not found, skipping to next city.
Hotel not found, skipping to next city.
Hotel not found, skipping to next city.
Hotel not found, skipping to next city.
Hotel not found, skipping to next city.
Hotel not found, skipping to next city.
Hotel not found, skipping to next city.
Hotel not found, skipping to next city.
Hotel not found, skipping to next city.
Hotel not found, skipping to next city.
Hotel not found, skipping to next city.
Hotel not found, skipping to next city.
Hotel not found, skipping to next city.
Hotel not found, skipping to next city.
Hotel not found, skipping to next city.
Hotel not found, skipping to next city.
Hotel not found, skipping to next city.
Hotel not found, skipping to next city.
Hotel not found, skipping to next city.
Hotel not found, skipping to next city.

In [9]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df[hotel_df["Hotel Name"] !='']
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Georgetown,MY,80.53,few clouds,5.4112,100.3354,Cititel Penang
8,Bambous Virieux,MU,79.21,scattered clouds,-20.3428,57.7575,Casa Tia Villa
9,Hobyo,SO,83.77,scattered clouds,5.3505,48.5268,Iftin hotel hobyo
11,Bandarbeyla,SO,82.06,clear sky,9.4942,50.8122,JABIR HOTEL
14,Vila Velha,BR,80.55,few clouds,-20.3297,-40.2925,Hotel VitÃ³ria Palace
21,Kudahuvadhoo,MV,83.62,overcast clouds,2.6708,72.8944,Niyama Private Islands Maldives
22,Hithadhoo,MV,83.46,overcast clouds,-0.6000,73.0833,Scoop Guest House
23,Jizan,SA,86.94,clear sky,17.3333,42.6667,Ø´Ù‡Ø¯Ø§Ù†. Ø§Ø¨ÙˆØ§Ù„Ø­Ø¬Ø±
24,Gwadar,PK,80.06,broken clouds,25.1216,62.3254,Sadaf Resort
25,Cidreira,BR,70.99,overcast clouds,-30.1811,-50.2056,Hotel Castelo

In [10]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [11]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} Â°F</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [14]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))